
.feedback-heading {
    margin-bottom: 20px;
  }
  
  .feedback {
    max-height: 500px;
    height: 500px;
    overflow: auto;
  }
  
  .customer-feedback {
    /* display: flex;
    align-items: center; */
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #313139;
  
    & .feedbackUser {
      display: flex;
      align-items: center;
  
      & .userImg {
        margin-right: 10px;
      }
    }
  
    & .feedbackStar {
      display: "flex";
      align-items: "center";
      margin: 10px 0;
    }
  
    .bodyText {
      color: #b6b5ba;
    }
  }